<% var vars = htmlWebpackPlugin.options.vars %>

<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NT9Z694');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title><%= vars.title %></title>
    <meta name="description" content="web service for memory">

    <meta property="og:title" content="<%= vars.title %>">
    <meta property="og:description" content="<%= vars.desc %>">
    <meta property="og:site_name" content="<%= vars.title %>">
    <meta property="og:locale" content="ja-JP">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= vars.image %>">
    <meta property="og:image:width" content="256">
    <meta property="og:image:height" content="256">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Morio" />
    <meta name="twitter:description" content="<%= vars.desc %>" />
    <meta name="twitter:site" content="@morio_cc" />
    <meta name="twitter:image" content="<%= vars.image %>"/>
    <meta name="twitter:domain" content="morio.cc"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#409eff">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NT9Z694"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="app"></div>
<script>
  window.channelPluginSettings = {
    "plugin_id": "28f85ce0-8204-4e39-89d2-59524aa51c7f"
  };
  (function () {
    var node = document.createElement('div');
    node.id = 'ch-plugin';
    document.body.appendChild(node);
    var async_load = function () {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.channel.io/plugin/ch-plugin-web.js';
      s.charset = 'UTF-8';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
    };
    if (window.attachEvent) {
      window.attachEvent('onload', async_load);
    } else {
      window.addEventListener('load', async_load, false);
    }
  })();
</script>
</body>
</html>
